<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BibliotekaConnection" connectionString="Server=127.0.0.1;Database=3PL2_Biblioteka;Uid=root;Password=root;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="paveiksliukasUrl" value="https://picsum.photos/190/260"/>
	</appSettings>
</configuration>